SubscriptionApi/Connected Services/SubscriptionService/SubscriptionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SubscriptionService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SubscriptionService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDetails" nillable="true" type="tns:UserDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDetails" nillable="true" type="tns:ArrayOfUserDetails" />
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subscriptions" nillable="true" type="tns:ArrayOfSubscriptionDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:complexType name="ArrayOfSubscriptionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionDetails" nillable="true" type="tns:SubscriptionDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionDetails" nillable="true" type="tns:ArrayOfSubscriptionDetails" />
  <xs:complexType name="SubscriptionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallMinutes" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionDetails" nillable="true" type="tns:SubscriptionDetails" />
</xs:schema>